default auto
display boot.msg
label auto
 kernel kernel
 append initrd=initrd vga=788 ro quiet

label debug
 kernel kernel
 append initrd=initrd vga=794 rootdelay=3 ro quiet testiso

prompt 1
timeout 100
