<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories">
  <item icon="/usr/share/icons/hicolor/scalable/apps/org.gnome.ArchiveManager.svg" label="Gnome Archiver">
    <action name="Execute">
      <command>file-roller</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item icon="/usr/share/icons/hicolor/scalable/apps/org.gnome.Screenshot.svg" label="Gnome Screenshot">
    <action name="Execute">
      <command>gnome-screenshot --interactive</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors">
  <item icon="/usr/share/icons/hicolor/16x16/apps/leafpad.png" label="Leafpad">
    <action name="Execute">
      <command>leafpad</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item icon="/usr/share/pixmaps/terminal-tango.svg" label="Sakura Terminal">
    <action name="Execute">
      <command>sakura</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item icon="/usr/share/pixmaps/xterm_48x48.xpm" label="Xterm">
    <action name="Execute">
		<command>xterm</command>
	</action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item icon="/usr/share/icons/hicolor/16x16/apps/firefox.png" label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item icon="/usr/share/icons/hicolor/16x16/apps/telegram.png" label="Telegram Instant Messenger">
    <action name="Execute">
      <command>telegram-desktop</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item icon="/usr/share/icons/hicolor/16x16/apps/thunderbird.png" label="Email client">
    <action name="Execute">
      <command>thunderbird</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item icon="/usr/share/icons/hicolor/16x16/apps/vlc.png" label="Media player">
    <action name="Execute">
      <command>vlc</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item icon="/usr/share/icons/Adwaita/32x32/legacy/system-file-manager.png" label="PCMan File Manager">
    <action name="Execute">
      <command>pcmanfm</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item icon="/usr/share/icons/Adwaita/16x16/legacy/preferences-desktop-theme.png" label="Lxde appearance">
    <action name="Execute">
		<command>lxappearance</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item icon="/usr/share/icons/hicolor/16x16/apps/gparted.png" label="Gnome Partition Editor">
    <action name="Execute">
      <command>/usr/bin/gparted %f</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item icon="/usr/share/icons/hicolor/16x16/apps/cups.png" label="Manage Cups Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <item icon="/usr/share/pixmaps/flcards.xpm" label="NuTyX Package Manager">
   <action name="Execute">
     <command>sudo flcards</command>
     <startupnotify>
      <enable>no</enable>
      <icon>flcards</icon>
     </startupnotify>
   </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-accessories-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
