[Unit]
Description=Ethernet bridge table
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/init.d/ebtables start
ExecStop=/etc/rc.d/init.d/ebtables stop

[Install]
WantedBy=multi-user.target
