[Unit]
Description=Common Display Manager
Conflicts=getty@tty1.service plymouth-quit.service
After=systemd-user-sessions.service getty@tty1.service plymouth-quit.service

[Service]
ExecStart=/usr/dt/bin/dtlogin
Restart=always
IgnoreSIGPIPE=no

[Install]
Alias=display-manager.service
